USE [master]
GO
/****** Object:  Database [grande_surface]    Script Date: 07/02/2020 12:34:59 ******/
CREATE DATABASE [grande_surface]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'grande_surface', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\grande_surface.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'grande_surface_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\grande_surface_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [grande_surface].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [grande_surface]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](255) NULL,
	[Prenom] [varchar](255) NULL,
	[Mail] [varchar](255) NULL,
	[MagasinsID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commande]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commande](
	[CommandeID] [int] IDENTITY(1,1) NOT NULL,
	[Numero_commande] [varchar](15) NULL,
	[PrixTTC] [varchar](255) NULL,
	[ClientsID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommandeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrats]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrats](
	[ContratsID] [int] IDENTITY(1,1) NOT NULL,
	[Types] [varchar](max) NULL,
	[Salaire] [varchar](100) NULL,
	[EmployeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContratsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[EmployeID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](255) NULL,
	[Prenom] [varchar](255) NULL,
	[Estlivreur] [varchar](255) NULL,
	[MagasinID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facture]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facture](
	[FactureID] [int] IDENTITY(1,1) NOT NULL,
	[Numero_facture] [varchar](15) NULL,
	[PrixTTC] [varchar](255) NULL,
	[ClientID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fournisseur]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fournisseur](
	[FournisseurID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](255) NULL,
	[Produit] [varchar](255) NULL,
	[Reference] [varchar](14) NULL,
	[Localisation] [varchar](255) NULL,
	[MagasintsID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FournisseurID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Magasin]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magasin](
	[MagasinID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](255) NULL,
	[Ville] [varchar](255) NULL,
	[Code postal] [varchar](10) NULL,
	[Adresse] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MagasinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[ProduitID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](255) NULL,
	[Prix] [varchar](255) NULL,
	[Reference] [varchar](15) NULL,
	[MagasintID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProduitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rayon]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rayon](
	[RayonID] [int] IDENTITY(1,1) NOT NULL,
	[Quantite] [varchar](255) NULL,
	[ProduitsID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RayonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[Quantite] [varchar](255) NULL,
	[ProduittID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vente]    Script Date: 07/02/2020 12:34:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vente](
	[VenteID] [int] IDENTITY(1,1) NOT NULL,
	[Numero_de_vente] [varchar](255) NULL,
	[ProduitID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VenteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [Nom], [Prenom], [Mail], [MagasinsID]) VALUES (1, N'Marquez', N'Ciaran', N'montes@atfringillapurus.org', 1)
INSERT [dbo].[Client] ([ClientID], [Nom], [Prenom], [Mail], [MagasinsID]) VALUES (2, N'Mcmahon', N'Hilda', N'luctus.felis.purus@ligula.edu', 1)
INSERT [dbo].[Client] ([ClientID], [Nom], [Prenom], [Mail], [MagasinsID]) VALUES (3, N'Carr', N'Jordan', N'Sed@nisidictumaugue.co.uk', 1)
GO
SET IDENTITY_INSERT [dbo].[Client] OFF
SET IDENTITY_INSERT [dbo].[Commande] ON 

INSERT [dbo].[Commande] ([CommandeID], [Numero_commande], [PrixTTC], [ClientsID]) VALUES (1, N'34638454-9', N'450', 1)
INSERT [dbo].[Commande] ([CommandeID], [Numero_commande], [PrixTTC], [ClientsID]) VALUES (2, N'37567749-0', N'400', 2)
INSERT [dbo].[Commande] ([CommandeID], [Numero_commande], [PrixTTC], [ClientsID]) VALUES (3, N'9835204-K', N'350', 3)
GO
SET IDENTITY_INSERT [dbo].[Commande] OFF
SET IDENTITY_INSERT [dbo].[Contrats] ON 

INSERT [dbo].[Contrats] ([ContratsID], [Types], [Salaire], [EmployeID]) VALUES (1, N'pellentesque a,', N'2508.8', 1)
INSERT [dbo].[Contrats] ([ContratsID], [Types], [Salaire], [EmployeID]) VALUES (2, N'Sed id', N'2484', 2)
INSERT [dbo].[Contrats] ([ContratsID], [Types], [Salaire], [EmployeID]) VALUES (3, N'diam. Proin', N'2504', 3)
GO
SET IDENTITY_INSERT [dbo].[Contrats] OFF
SET IDENTITY_INSERT [dbo].[Employe] ON 

INSERT [dbo].[Employe] ([EmployeID], [Nom], [Prenom], [Estlivreur], [MagasinID]) VALUES (1, N'Glass', N'Felix', N'1', 3)
INSERT [dbo].[Employe] ([EmployeID], [Nom], [Prenom], [Estlivreur], [MagasinID]) VALUES (2, N'Bishop', N'Galena', N'1', 3)
INSERT [dbo].[Employe] ([EmployeID], [Nom], [Prenom], [Estlivreur], [MagasinID]) VALUES (3, N'Dunn', N'Signe', N'0', 3)
GO
SET IDENTITY_INSERT [dbo].[Employe] OFF
SET IDENTITY_INSERT [dbo].[Facture] ON 

INSERT [dbo].[Facture] ([FactureID], [Numero_facture], [PrixTTC], [ClientID]) VALUES (1, N'49218335', N'850', 1)
INSERT [dbo].[Facture] ([FactureID], [Numero_facture], [PrixTTC], [ClientID]) VALUES (2, N'45781147', N'850', 2)
INSERT [dbo].[Facture] ([FactureID], [Numero_facture], [PrixTTC], [ClientID]) VALUES (3, N'44589520', N'350', 3)
GO
SET IDENTITY_INSERT [dbo].[Facture] OFF
SET IDENTITY_INSERT [dbo].[Fournisseur] ON 

INSERT [dbo].[Fournisseur] ([FournisseurID], [Nom], [Produit], [Reference], [Localisation], [MagasintsID]) VALUES (1, N'Quisque Corp.', N'desserts', N'612191056', N'Puri', 1)
INSERT [dbo].[Fournisseur] ([FournisseurID], [Nom], [Produit], [Reference], [Localisation], [MagasintsID]) VALUES (2, N'Urna Convallis Erat LLC', N'pâtes', N'096199773', N'Rockford', 2)
INSERT [dbo].[Fournisseur] ([FournisseurID], [Nom], [Produit], [Reference], [Localisation], [MagasintsID]) VALUES (3, N'Nullam Scelerisque Corp.', N'salades', N'096471180', N'Amelia', 3)
GO
SET IDENTITY_INSERT [dbo].[Fournisseur] OFF
SET IDENTITY_INSERT [dbo].[Magasin] ON 

INSERT [dbo].[Magasin] ([MagasinID], [Type], [Ville], [Code postal], [Adresse]) VALUES (1, N'grande_surface', N'Cañete', N'26074-772', N'Appartement 554-9840 Tincidunt, Impasse')
INSERT [dbo].[Magasin] ([MagasinID], [Type], [Ville], [Code postal], [Adresse]) VALUES (2, N'grande_surface', N'Fahler', N'F5L 2XM', N'858-4727 Enim Rue')
INSERT [dbo].[Magasin] ([MagasinID], [Type], [Ville], [Code postal], [Adresse]) VALUES (3, N'drive', N'Sint-Pieters-Kapelle', N'Z9334', N'CP 799, 3121 Duis Rd.')
SET IDENTITY_INSERT [dbo].[Magasin] OFF
SET IDENTITY_INSERT [dbo].[Produit] ON 

INSERT [dbo].[Produit] ([ProduitID], [Nom], [Prix], [Reference], [MagasintID]) VALUES (1, N'soupes', N'23', N'32244321', 1)
INSERT [dbo].[Produit] ([ProduitID], [Nom], [Prix], [Reference], [MagasintID]) VALUES (2, N'nouilles', N'79', N'19951451', 2)
INSERT [dbo].[Produit] ([ProduitID], [Nom], [Prix], [Reference], [MagasintID]) VALUES (3, N'ragoûts', N'53', N'49920159', 3)
GO
SET IDENTITY_INSERT [dbo].[Produit] OFF
SET IDENTITY_INSERT [dbo].[Rayon] ON 

INSERT [dbo].[Rayon] ([RayonID], [Quantite], [ProduitsID]) VALUES (1, N'100', 1)
INSERT [dbo].[Rayon] ([RayonID], [Quantite], [ProduitsID]) VALUES (2, N'50', 2)
INSERT [dbo].[Rayon] ([RayonID], [Quantite], [ProduitsID]) VALUES (3, N'4', 3)
GO
SET IDENTITY_INSERT [dbo].[Rayon] OFF
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([StockID], [Quantite], [ProduittID]) VALUES (1, N'7500', 1)
INSERT [dbo].[Stock] ([StockID], [Quantite], [ProduittID]) VALUES (2, N'2000', 2)
INSERT [dbo].[Stock] ([StockID], [Quantite], [ProduittID]) VALUES (3, N'3000', 3)
GO
SET IDENTITY_INSERT [dbo].[Stock] OFF
SET IDENTITY_INSERT [dbo].[Vente] ON 

INSERT [dbo].[Vente] ([VenteID], [Numero_de_vente], [ProduitID]) VALUES (1, N'2000', 1)
INSERT [dbo].[Vente] ([VenteID], [Numero_de_vente], [ProduitID]) VALUES (2, N'2000', 2)
INSERT [dbo].[Vente] ([VenteID], [Numero_de_vente], [ProduitID]) VALUES (3, N'10500', 3)
GO
SET IDENTITY_INSERT [dbo].[Vente] OFF
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [MagasinsID] FOREIGN KEY([MagasinsID])
REFERENCES [dbo].[Magasin] ([MagasinID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [MagasinsID]
GO
ALTER TABLE [dbo].[Commande]  WITH CHECK ADD  CONSTRAINT [ClientsID] FOREIGN KEY([ClientsID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Commande] CHECK CONSTRAINT [ClientsID]
GO
ALTER TABLE [dbo].[Contrats]  WITH CHECK ADD  CONSTRAINT [EmployeID] FOREIGN KEY([EmployeID])
REFERENCES [dbo].[Employe] ([EmployeID])
GO
ALTER TABLE [dbo].[Contrats] CHECK CONSTRAINT [EmployeID]
GO
ALTER TABLE [dbo].[Employe]  WITH CHECK ADD  CONSTRAINT [MagasinID] FOREIGN KEY([MagasinID])
REFERENCES [dbo].[Magasin] ([MagasinID])
GO
ALTER TABLE [dbo].[Employe] CHECK CONSTRAINT [MagasinID]
GO
ALTER TABLE [dbo].[Facture]  WITH CHECK ADD  CONSTRAINT [ClientID] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Facture] CHECK CONSTRAINT [ClientID]
GO
ALTER TABLE [dbo].[Fournisseur]  WITH CHECK ADD  CONSTRAINT [MagasintsID] FOREIGN KEY([MagasintsID])
REFERENCES [dbo].[Magasin] ([MagasinID])
GO
ALTER TABLE [dbo].[Fournisseur] CHECK CONSTRAINT [MagasintsID]
GO
ALTER TABLE [dbo].[Produit]  WITH CHECK ADD  CONSTRAINT [MagasintID] FOREIGN KEY([MagasintID])
REFERENCES [dbo].[Magasin] ([MagasinID])
GO
ALTER TABLE [dbo].[Produit] CHECK CONSTRAINT [MagasintID]
GO
ALTER TABLE [dbo].[Rayon]  WITH CHECK ADD  CONSTRAINT [ProduitsID] FOREIGN KEY([ProduitsID])
REFERENCES [dbo].[Produit] ([ProduitID])
GO
ALTER TABLE [dbo].[Rayon] CHECK CONSTRAINT [ProduitsID]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [ProduittID] FOREIGN KEY([ProduittID])
REFERENCES [dbo].[Produit] ([ProduitID])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [ProduittID]
GO
ALTER TABLE [dbo].[Vente]  WITH CHECK ADD  CONSTRAINT [ProduitID] FOREIGN KEY([ProduitID])
REFERENCES [dbo].[Produit] ([ProduitID])
GO
ALTER TABLE [dbo].[Vente] CHECK CONSTRAINT [ProduitID]
GO
USE [master]
GO
